@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$font-type: "Poppins";
$color-primary: #0a3374;
$color-secondary: #472f5f;
$color-success: #788a1d;
$color-black: #000000;
$color-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
$color-main: #00d56ec2;
$color-form: #f9f9f99c;
$color-table: #f9f9f99c;
$breakpoint: 540px;
